/* pagination
 ===========================*/

.pagination .page-link {
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  border: none;
  color: #444c5480;
  width: 36px;
  height: 36px;
  text-align: center;
}
.pagination .page-item {
  margin: 0 0.25rem;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  background-color: #fff;
  border-color: #dee2e6;
  border-radius: 10px;
  color: #444c5480;
  opacity: 1;
}

.pagination .page-item:first-child .page-link:hover,
.pagination .page-item:last-child .page-link:hover {
  box-shadow: 0px 2px 10px #1fa09333;
}
.pagination .page-item:first-child.disabled .page-link,
.pagination .page-item:last-child.disabled .page-link {
  opacity: 0.5;
}

.pagination .page-item.active .page-link {
  background-color: #0c9e8f;
  border-color: #0c9e8f;
  border-radius: 50%;
}
.pagination .page-item .page-link:hover {
  border-radius: 50%;
}
