/* Breadcrumb-section
=============================*/
.breadcrumb-container {
  margin-top: -5em;
  height: 100px;

  background-color: #fff;
}
.breadcrumb-container .breadcrumb {
  margin-right: 11.5rem;
  margin-bottom: 0;
}
.breadcrumb-container .breadcrumb .breadcrumb-item {
  font-size: 0.875rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 0.5rem;
}

@media (max-width: 991px) {
  .breadcrumb-container {
    margin-top: 0;
    min-height: auto;
  }

  .breadcrumb-container .breadcrumb {
    margin: 0;
  }
}
.is-mobile li {
  margin-right: 6px;
}
.is-mobile i {
  color: #aaa;
}
